@model List<ForgingAhead.Models.Character>

@section header {
  <meta name="description" content="List of all characters in ForgingAhead">
}

  <h1>Character</h1>
  <p>
    <a asp-action="Create" asp-controller="Character"/>Create new character</a>
  </p>

  <div class="row">
    @foreach (var item in Model)
    {
      @Html.Partial("_CharacterSheet", item)
    }
  </div>
  