@model List<ForgingAhead.Models.Equipment>

@section header {
  <meta name="description" content="List of all equipments in ForgingAhead">
}

  <h1>Equipments</h1>
  <p>
    <a asp-action="Create" asp-controller="Equipment">Create new Equipment</a>
  </p>

  <div class="row">
    @foreach(var item in Model)
    {
      @Html.Partial("_EquipmentSheet", item)
    }
  </div>